.card {
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--branco);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card__descricao {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.descricao {
  /* line-height:22px; */
  padding-right: 1em;
}

.descricao__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.descricao__titulo-livro, .descricao__titulo-autora{
  color: var(--azul);
  font-weight: 700;
  font-size: 18px;
  margin: .5em 0;
}

.descricao__texto {
  font-size: 14px;
}

.card__botoes {
  display: flex;
  justify-content: space-between;
}

.botoes {
  display: flex;
  margin: 0 .5em;
}

.botoes__ancora {
  background-color: var(--laranja);
  color: var(--branco);
  font-weight: 700;
  padding: 1em 2.2em;
  text-decoration: none;
}
